.img1, .img2, .img3, .img4, .img5, .img6 {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    margin: 30px 15px 0px 0;
    float: left;

}
.flex {
    display: flex;
}
.icon {
    width: 44px;
    height: 44px;
    display: flex;
    margin-top: 33px;
    float: right;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: gray;
}
p::first-line {
    color: #18171c;
    font-weight: lighter;

}
.backgournd {
    width: 300px;
    height: 600px;
    border: 13px solid white;
    background-color: white;
    margin: auto;
    box-shadow: 0.5px 1px 0.5px 1px #18171c;
}
